# Discord
discord.py[speed]~=2.0

mypy>=0.950  # Support for match statements
nest_asyncio~=1.5.1
fuzzywuzzy~=0.18.0

# ORM
ormar>=0.11.0
aiomysql>=0.0.21
mysqlclient>=1.7.4
alembic>=1.7.4

# Webserver
Hypercorn==0.11.2
Quart==0.17
Quart_Discord==2.1.4

# Testing
pytest>=6.2.5
pytest-env>=0.6.2
