# discord.py>=1.7.3
#git+https://github.com/Rapptz/discord.py.git@fbc4a51c355c029af61363038d0a8a9ac0bd8ace   # discord.py>=2.0

py-cord[voice]>=1.7.3
nextcord[voice]>=2.0

nest_asyncio==1.5.1
fuzzywuzzy==0.18.0

ormar==0.10.15

Hypercorn==0.11.2
Quart==0.15.1
Quart_Discord==2.1.4

moviepy==1.0.3
numpy==1.21.1
array2gif==1.0.4
