{
    "Discord_token": "",
    "SQL_Password": "",
    "VRC_Password": "",
    "TeamUp_key": "",
    "TeamUp_cal": "",
    "Client_secret": "",
    "Client_ID": 0,
    "Callback_URL": "https://callbackurl"
}