{% if data == {} %}
    There are no squads active.
{% endif %}
<ul class="flex-container">
    {% for squad_id in data %}
    <li class="flex-item">
        <TABLE class="blueTable">
            <thead>
                <tr>
                    <th><form action="/dispatch/spa" method="post"><button type="submit" name="squad_id" value="{{ squad_id }}">{{ data[squad_id][0].name }}</button></form></th>
                </tr>
            </thead>
            <tbody>
                {% for officer in data[squad_id][1] %}
                <tr>
                    <td>{{ officer[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </TABLE>
    </li>
    {% endfor %}
</ul>