<!DOCTYPE html>
<HTML lang="en">

<HEAD>
    <meta charset="utf-8" />
    <TITLE>{% block title %}{{ title }}{% endblock %}</TITLE>
    <style>
        {% include "default.css.jinja" %}
    </style>
</HEAD>

<BODY>
    {% include "navbar.html.jinja" %}
    {% block body %}Welcome to the LPD!{% endblock %}
</BODY>

</HTML>