<div class="navbar">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/officers">Officers</a>
    <a href="/officers_only">Officers only</a>

    <div class="dropdown">
        <button class="dropbtn">Moderation &darr;
        </button>

        <div class="dropdown-content">
            <a href="/moderation">Moderation</a>
            <a href="/moderation/loa">Leaves of Absence</a>
            <a href="/moderation/vrclist">VRChat Name List</a>
            <a href="/moderation/rtv">Officers by Role</a>
            <a href="/moderation/inactivity">Inactive Officers</a>
            <a href="/moderation/patrol_time">Patrol Time</a>
            <a href="/moderation/rank_last_active">Last Activity by Rank</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Dispatch &darr;
        </button>

        <div class="dropdown-content">
            <a href="/dispatch/spa">Dispatch</a>


        </div>
    </div>

    <a href="https://teamup.com/ksfnmscvrenv3hkk32">Event Calendar</a>

    {% if display_name is defined %}
    <a href="" style="float: right; background-color: #333; pointer-events: none; cursor: default;">Welcome, {{ display_name }}</a>
    {% endif %}
</div>