{% extends "home.html.jinja" %}
{% block title %}Officers by Role {{ rolename }}{% endblock %}
{% block body %}



<TABLE class="blueTable">
    <thead>
        <tr>
            <th>Officer Name</th>
            <th>Role: <form action="/moderation/rtv" method="post">
    <div>
        <select name="role_id" id="role_id" onchange="this.form.submit();">
            {% for role in roles %}
            {% if requested_role_id == role.id %}
            <option selected value={{ role.id }}>{{ role.name }}</option>
            {% else %}
            <option value={{ role.id }}>{{ role.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
</form></th>
        </tr>
    </thead>
    <tbody>
        {% for officer in results %}
        <tr>
            <td>{{ officer.name }}</td>
            <td>{{ officer.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</TABLE>

{% endblock %}