{% extends "home.html.jinja" %}
{% block title %}Under Construction{% endblock %}
{% block body %}
This page is under construction, but is intended only for LPD {{ target }} at this time.
{% endblock %}